@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: #FFF2EB;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x:hidden;
}

.jumbotron {
    background-image : linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Pictures/foodbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    font-style: white;
  }

body .jumbotron h1, h4{
    color: whitesmoke;
}

.about .container{
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color:#1A281F;
}

section {
    padding: 60px 0;
}

h2 {
    font-size: 2em;
    color: #8B3A3A;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    min-width: 300px;
    margin: 20px;
}

.text {
    max-width: 600px;
}

.image img {
    width: 100%;
    border-radius: 15px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col {
        margin: 10px 0;
    }

    h2 {
        text-align: center;
    }

    .image img {
        margin: 0 auto;
        display: block;
    }
}


.container-fluid p{
    color: black
}

#section2{
    background-color: #FCE8E0;
}

#section2 h4{
    color:#1A281F;
    font-family: 'Poppins';
}

.container-fluid span{
    width: 100%;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.carousel-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Darken the image */
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.carousel-caption h1, .carousel-caption p {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.carousel-caption h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.carousel-caption p {
    font-size: 1.5em;
}
