/*Extra small device*/
@media only screen and (max-width: 576px) {
    main{
        padding-left:30px;
        padding-right:30px;
        padding-top: 20px;
        padding-bottom:10px;
    }
    main img{
        width:250px;
        height:250px;
        background-size: cover;
        box-sizing: border-box;
        box-shadow: 0 0 10px #000;
        border-radius: 8px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    main h2{
        font-size: 30px;
    }
    main .rcontent p{
        font-size: 20px;
        margin-left:30px;
        margin-right:30px;
        margin-bottom: 50px;
    }
    .download{
        right:40px;
    }
    .save{
        right:70px;
    }
}
/*Small devices*/
@media only screen and (min-width: 576px) and (max-width: 768px) {
    main{
        padding-left:50px;
        padding-right:50px;
        padding-top: 20px;
        padding-bottom:10px;
    }
    main img{
        width:300px;
        height:300px;
        background-size: cover;
        box-sizing: border-box;
        box-shadow: 0 0 10px #000;
        border-radius: 8px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    main h2{
        font-size: 30px;
    }
    main .rcontent p{
        font-size: 20px;
        margin-left:70px;
        margin-right:70px;
        margin-bottom: 80px;
    }
    .download{
        right:60px;
    }
    .save{
        right:90px;
    }
}
/*Large devices*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    main{
        padding-left:100px;
        padding-right:100px;
        padding-top: 40px;
        padding-bottom:20px;
    }
    main img{
        width:500px;
        height:500px;
        background-size: cover;
        box-sizing: border-box;
        box-shadow: 0 0 10px #000;
        border-radius: 8px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    main h2{
        font-size: 44px;
    }
    main .rcontent p{
        font-size: 20px;
        margin-left:100px;
        margin-right:100px;
        margin-bottom: 80px;
    }
    .download{
        right:150px;
    }
    .save{
        right:180px;
    }
}
/*Extra large devices*/
@media only screen and (min-width: 1200px) {
    main{
        padding-left:150px;
        padding-right:150px;
        padding-top: 40px;
        padding-bottom:20px;
    }
    main img{
        width:700px;
        height:auto;
        background-size: cover;
        box-sizing: border-box;
        box-shadow: 0 0 10px #000;
        border-radius: 8px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .rcontent h2{
        text-align: center;
        font-weight: bold;
        font-size: 44px;
    }
    main .rcontent p{
        font-size: 24px;
        margin-left:150px;
        margin-right:150px;
        margin-bottom: 100px;
    }
    .download{
        right:150px;
    }
    .save{
        right:180px;
    }
}
#path{
    text-decoration: none;
    color:rgb(80, 80, 80);
    position:relative;
    left:5%;
}

#path a{
    color:rgb(158, 157, 157);
}

.download{
    position:absolute;
    border:none;
    outline:none;
    background-color: transparent;
}
.save{
    position:absolute;
    border:none;
    outline:none;
    background-color: transparent;
}
main .description, main .history{
    text-align: center;
}
main .ingredient,main .instruction, main .description, main .history{
    font-size:24px;
    margin-left: 150px;
    margin-right:150px;
}
span{
    font-size: 60px;
}