/*Extra small devices*/
@media only screen and (max-width: 576px) {
    .banner{
        min-height:200px;
    }
    .banner h2{
        font-size: 24px;
    }
    .banner h3{
        font-size: 18px;
    }
    .subtitle{
        display: grid;
        line-height: 50px;
        font-size: 28px;
    }
    .subpara{
        display: grid;
        font-size: 20px;
        line-height: 30px;
    }
    .title-image {
        margin-top: 40px;
        height: 210px;
        background-size: cover;
    }
    .cuisinetitle{
        font-size: 25px;
    }
    .cuisine-image .container p{
        font-size: 50px;
    }
    .cuisine-image{
        min-height:200px;
    }
    .AboutUs .textabout h2{
        font-size: 25px;
    }
    .textabout p{
        font-size: 12px;
        text-align: center;
    }
    .AboutUs .textabout .moreabout{
        position:absolute;
        text-decoration: none;
        font-size: 20px;
        left:20%;
    }
    .AboutUs .textabout h2::after{
        display: block;
        content:"";
        border-bottom:3px solid #000000;
        margin-left: 120px;
        position: relative;
        top:-20px;
    }
}
/*Small devices*/
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .banner{
        min-height:400px;
    }
    .banner h2{
        font-size: 44px;
    }
    .banner h3{
        font-size: 30px;
    }
    .title{
        margin:20px;
    }.subtitle{
        display: grid;
        line-height: 100px;
        font-size: 50px;
    }
    .subpara{
        margin-bottom: 20px;
        display: grid;
        font-size: 35px;
        line-height: 30px;
    }
    .title-image {
        margin-top:40px;
        height: 350px;
    }
    .cuisinetitle{
        font-size: 40px;
    }
    .cuisine-image{
        min-height:500px;
    }
    .AboutUs .textabout h2{
        font-size: 30px;
    }
    .textabout p{
        font-size: 15px;
        text-align: center;
    }
    .cuisine-image .container p{
        font-size: 100px;
    }
    .AboutUs .textabout .moreabout{
        position:absolute;
        text-decoration: none;
        font-size: 20px;
        left:28%;
    }
    .AboutUs .textabout h2::after{
        display: block;
        content:"";
        border-bottom:3px solid #000000;
        margin-left: 150px;
        position: relative;
        top:-20px;
    }
}
/*Large devices*/
@media only screen and (min-width: 768px) and (max-width:992px) {
    
    .banner{
        min-height:400px;
    }
    .banner h2{
        font-size: 44px;
    }
    .banner h3{
        font-size: 30px;
    }
    .subtitle{
        margin-top: 50px;
        display: grid;
        line-height: 60px;
        font-size: 50px;
    }
    .subpara{
        margin: 20px;
        display: grid;
        font-size: 34px;
        line-height: 30px;
    }
    .cuisinetitle{
        font-size: 60px;
    }
    .title-image {
        justify-items: center;
        height: 400px;
    }
    .cuisine-image .container p{
        font-size: 100px;
    }
    .cuisine-image{
        min-height:450px;
    }
    .AboutUs .textabout h2{
        font-size: 44px;
    }
    .textabout p{
        font-size: 15px;
        text-align: center;
    }
    .AboutUs .textabout .moreabout{
        position:absolute;
        text-decoration: none;
        font-size: 20px;
        left:30%;
    }
    .AboutUs .textabout h2::after{
        display: block;
        content:"";
        border-bottom:3px solid #000000;
        margin-left: 200px;
        position: relative;
        top:-20px;
    }
}
/*Extra large devices*/
@media only screen and (min-width: 1200px) {
    .banner h2{
        font-size: 44px;
    }
    .banner{
        min-height:400px;
    }
    .banner h3{
        font-size: 30px;
    }
    .title{
        margin:20px;
    }
    .subtitle{
        margin-top: 50px;
        display: grid;
        line-height: 100px;
        font-size: 70px;
    }
    .subpara{
        margin-bottom: 20px;
        display: grid;
        font-size: 35px;
        line-height: 30px;
    }

    .cuisinetitle{
        font-size: 60px;
    }
    .title-image {
        width: 800px;
        height: 500px;
    }
    .cuisine-image .container p{
        font-size: 100px;
    }
    .cuisine-image{
        min-height:500px;
    }
    .AboutUs .textabout h2{
        font-size: 44px;
    }
    .textabout p{
        font-size: 18px;
        text-align: center;
    }
    
    .AboutUs .textabout .moreabout{
        position:absolute;
        text-decoration: none;
        font-size: 20px;
        left:40%;
    }
    .AboutUs .textabout h2::after{
        display: block;
        content:"";
        border-bottom:3px solid #000000;
        margin-left: 200px;
        position: relative;
        top:-20px;
    }
}

*{
    box-sizing:border-box;
}

.cuisinetitle{
    font-family: "Josefin Sans", sans-serif;
    color:white;
    text-shadow: 0 0 10px black;
}

.cuisine-image{
    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cuisine-image .container {
    text-align: center;
}
.cuisine-image .container a{
    color: white; 
}
.cuisine-image .container a:hover {
    text-decoration: none;
    color:gray;
}
.cuisine-image .container p {
    font-family: "Calligraffitti", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    text-shadow: 0 0 10px black;
}

.subtitle{
    text-transform: capitalize;
    font-weight: 900;
    justify-items: center;
}
.subpara{
    justify-items: center;
    font-family: "Poppins", sans-serif;
}
.titleicon{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
.title-image {
    background-position: top;
    background-repeat: no-repeat;
    transition: background-position 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.title-image.active {
    background-position: right;
}
.spacing{
    padding:20px;
    margin-bottom:80px;
}

.banner{
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation:scroll-left 30s linear infinite;
}
/*let the background kept scroll to left*/
@keyframes scroll-left{
    from{
        background-position: 0 0;
    }
    to{
        background-position: -100% 0;
    }
}
.banner h2{
    text-align: center;
    font-family:"Josefin Sans", sans-serif;
    font-weight: bold;
    z-index:2;
}
.banner h3{
    text-align: center;
    font-family: "Poppins", sans-serif;
    z-index: 2;
}

.recipe-image{
    padding:20px;
}
.recipe-image div a img{
    height:350px;
    width:auto;
    object-fit: cover;
    max-width: initial;
}

.AboutUs{
    align-items: center;
    position: relative;
    margin-top:40px;
    display: flex;
    padding:10px;
    margin-bottom:20px;
}
.moreabout:hover{
    color:rgb(54, 4, 204);
}

.fade{
    opacity: 0; 
}
