html {scroll-behavior: smooth;}

main {
    margin-top: 2.5rem;
    padding-left: 9.375rem;
    padding-right: 9.375rem;
    padding-bottom: 5rem;
}

#path{
    text-decoration: none;
    color:rgb(80, 80, 80);
    position:relative;
    left:5%;
}

#path a{
    color:rgb(158, 157, 157);
}

#title{
    text-align: center;
    font-size: 44px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 4px 4px 6px gray;
}

.country-cuisines,.other-country-cuisines{
    margin-bottom:100px;
}

.country-cuisines-list-3-column{
    grid-template-columns: repeat(1,1fr);
    display: grid;
    margin: 0;
    padding:20px;
    justify-items: center;
}

.country-cuisines-item{
    border:1px solid #ddd;
    border-radius: 5px;
    padding:15px;
}

#country-cuisines-item figure{
    box-shadow: 4px 4px 6px #505050;
 }

/*MY OWN---------------------------------------------------------*/

.class figure {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
}
.country-cuisines h5 {
    font-weight: bolder;
    margin: 1rem;
    text-align: center;
}

/* || SMALL */
@media screen and (max-width: 576px){
    .country-cuisines-list-3-column{
        grid-template-columns: repeat(2,1fr);
        display: grid;
        margin: 0;
        padding:20px;
        justify-items: center;
    }
    #title {
        grid-column: 1 / -1; 
        text-align: center;  
        margin-bottom: 20px; 
    }
    #country-cuisines-item a img{
        width:140px;
        height:140px;
    }
}

/* || MEDIUM */
@media screen and (min-width: 576px) and (max-width: 768px){
    .country-cuisines-list-3-column{
        grid-template-columns: repeat(2,1fr);
        display: grid;
        margin: 0;
        padding:20px;
        justify-items: center;
    }
    #title {
        grid-column: 1 / -1; 
        text-align: center; 
        margin-bottom: 20px; 
    }
    #country-cuisines-item a img{
        width:180px;
        height:180px;
    }
}

/* || LARGE */
@media screen and (min-width: 768px) and (max-width: 992px){
    .country-cuisines-list-3-column{
        grid-template-columns: repeat(3,1fr);
        display: grid;
        margin: 0;
        padding:20px;
        justify-items: center;
    }
    #title {
        grid-column: 1.5 / -1.5; 
        text-align: center; 
        margin-bottom: 20px; 
    }
    #country-cuisines-item a img{
        width:300px;
        height:300px;
    }
}

/* || XL */
@media screen and (min-width: 992px) and (min-width: 1200px){
    .country-cuisines-list-3-column{
        grid-template-columns: repeat(3,1fr);
        display: grid;
        margin: 0;
        padding:20px;
        justify-items: center;
    }
    #title {
        grid-column: 1.5 / -1.5; 
        text-align: center; 
        margin-bottom: 20px; 
    }
    #country-cuisines-item a img{
        width:300px;
        height:300px;
    }
}

/* || MOBILE DEVICE LANDSCAPE */
/* @media screen and (min-height: 425px) and (min-aspect-ratio: 7/4){

    main{
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
    }
    .country-cuisines{
        width: min(100%,300px)
    }
    .country-cuisines-list-3-column{
        grid-template-columns: repeat(1,1fr);
    }
} */

#country-cuisines-item a{
    text-decoration: none;
}
#country-cuisines-item a img{
   box-shadow: 4px 4px 6px #505050;
}
#country-cuisines-item a h3{
    color:black;
    text-align: center;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
}
