@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@media only screen and (max-width: 600px) {
    header,main {
        padding-left:15px;
        padding-right:15px;
        padding-top: 4px;
        padding-bottom:2px;
    }
    .navbar-brand img {
        width: 100px;
        height: 100px;
    }
    .login{
        visibility: hidden;
    }
    .follow{
        visibility: hidden;
    }
    .search{
        visibility: hidden;
    }
    .end{
        text-align: center;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    header,main{
        padding-left:75px;
        padding-right:75px;
        padding-top: 20px;
        padding-bottom:10px;
    }
    .navbar-brand img {
        width: 200px;
        height: 200px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
    }
}
@media only screen and (min-width: 1200px) {
    header, main{
        padding-left:150px;
        padding-right:150px;
        padding-top: 40px;
        padding-bottom:20px;
    }
    .navbar-brand img {
        width: 300px;
        height: 300px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 24px;
    }
}

body{
    background-color: #FFF2EB;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x:hidden;
}
.login{
    position:absolute;
    right: 100px;
}
.login a{
    color:black;
    text-decoration: none;
}
.follow{
    position:absolute;
    list-style: none;
    padding:0;
    right:30px;
    bottom:60%;
}
.follow li{
    margin:10px;
}
.navbar{
    justify-content: center;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 18px;
    padding-right: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #A79277;
}
.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler-icon {
    color: #000;
}
.search{
    position:absolute;
    right:130px;
    bottom:60%;
}
.content{
    color:white;
    background-color:rgb(248, 238, 201);
    display:none;
    position:absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px black;
    z-index: 1;
}
.content a {
    font-size: 18px;
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}
.top li:hover,.top li a:hover, .two li a:hover {
    color: #A79277; 
    text-decoration: none; 
}
.Cuisine:hover .content, .Recipe:hover .content {
    display: block;
    background-color: #F9E8D9; 
    transition: background-color ease; 
}


.foot{
    background-color: #f99d9d;
}
.flw li{
    margin-left:5px;
}
.end{
    background-color: #000;
    color: white;
}
.end,.link{
    text-decoration: none;

}
.fixed-nav{
    position: fixed;
    bottom:130px;
    right:20px;
    padding: 10px 20px;
}